.feature {
    width: 220px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
}

.logo {
    width: 24px;
    height: 24px;
    margin-bottom: 11px;
}

.title {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 17px;
}

.text {
    font-size: 15px;
    line-height: 22px;

}
